@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

body:before {
  border: 2px solid rgba(255, 255, 255, 0.2);
  bottom: 0;
  content: "";
  height: 400px;
  left: -100px;
  position: fixed;
  top: 500px;
  transform: rotate(20deg);
  width: 400px;
  z-index: -100;
}

body:after {
  border: 2px solid rgba(255, 255, 255, 0.2);
  bottom: 0;
  content: "";
  height: 600px;
  position: fixed;
  right: -50px;
  top: -150px;
  transform: rotate(-30deg);
  width: 400px;
  z-index: -100;
}

header {
  background-color: black;
  box-shadow: 0 1px 5px white;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

header video {
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: 0;
}

header nav {
  align-items: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), black);
  box-shadow: 0 1px white;
  display: flex;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header nav div,
header nav ul {
  display: flex;
  flex: 1 1 50%;
}

header nav div {
  align-items: center;
}

header nav ul {
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

header nav ul li a {
  color: white;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: color ease-in-out 400ms;
}

header nav ul li a:hover {
  color: gray;
}

header > div {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

header nav div img,
footer > div:first-child img {
  -webkit-filter: contrast(5) blur(1px) grayscale(1);
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.7);
  filter: contrast(5) blur(1px) grayscale(1);
  margin-left: 40px;
  width: 60px;
}

header nav div p,
footer > div:first-child p {
  color: rgba(255, 255, 255, 0.7);
  font-variant: small-caps;
  font-weight: bold;
  padding-left: 30px;
}

header > div h1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 4rem;
  font-variant: small-caps;
  position: relative;
  z-index: 2;
}

section {
  border: 1px solid transparent;
  margin: 50px auto;
  width: 80%;
}

section#projects h2,
section#about h2 {
  color: white;
  font-size: 3rem;
  font-variant: small-caps;
  margin-top: 80px;
  text-align: center;
}

section#projects article,
section#about article {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20vh;
}

.project-tile.right {
  flex-direction: row-reverse;
}

section#projects article div:first-child,
section#about article div:last-child {
  flex: 1 1 60%;
}

section#projects article div:first-child img,
section#about article div:first-child img {
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1);
  display: block;
  height: auto;
  width: 100%;
}

section#about article div:first-child img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

section#projects article div:last-child,
section#about article div:first-child {
  flex: 1 1 40%;
}

section#projects article div:last-child h3,
section#about article div:last-child h3 {
  color: white;
  font-size: 2rem;
  font-variant: small-caps;
  margin-bottom: 50px;
  text-align: center;
}

section#projects article div:last-child p,
section#about article div:last-child p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 1.8;
  padding-left: 30px;
  text-align: center;
}

section#projects article div:last-child p::first-letter,
section#about article div:last-child p::first-letter {
  color: gray;
  font-size: 1.5rem;
}

.project-tile.right div:last-child p {
  padding-left: 0;
  padding-right: 30px;
}

section#projects article div:last-child div,
section#about article div:last-child div {
  margin-top: 50px;
  text-align: center;
}

section#projects article div:last-child div a,
section#about article div:last-child div a {
  background-color: unset;
  border: 2px solid white;
  display: inline-block;
  font-weight: 700;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 400ms;
}

section#projects article div:last-child div a::before,
section#about article div:last-child div a::before {
  background-color: white;
  content: "";
  height: 400px;
  left: -440px;
  position: absolute;
  top: -250px;
  transform: rotateZ(45deg);
  transition: all ease 400ms;
  width: 400px;
  z-index: 1;
}

section#projects article div:last-child div a span,
section#about article div:last-child div a span {
  color: white;
  position: relative;
  transition: all ease 400ms;
  z-index: 2;
}

section#projects article div:last-child div a:hover span,
section#about article div:last-child div a:hover span {
  color: black;
}

section#projects article div:last-child div a:hover::before,
section#about article div:last-child div a:hover::before {
  left: -200px;
}

footer,
footer > div:nth-child(1),
footer > div:nth-child(2),
footer > div:nth-child(2) div,
footer > div:nth-child(2) div p:nth-child(1) {
  display: flex;
}

footer div {
  align-items: center;
}

footer > div:nth-child(1),
footer > div:nth-child(2) {
  flex: 1 1 100%;
}

footer > div:nth-child(2) div p a {
  color: white;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: color ease-in-out 400ms;
}

footer > div:nth-child(2) div p a:hover {
  color: gray;
}

footer,
footer > div:nth-child(1) {
  justify-content: center;
}

footer {
  align-items: flex-start;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), black);
  box-shadow: 0 -1px white;
  flex-wrap: wrap;
  min-height: 50vh;
}

footer > div:nth-child(1) {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  margin: 6vh 0;
  user-select: none;
}

footer > div:nth-child(2) {
  margin-bottom: 6vh;
}

footer > div:nth-child(2) div {
  align-items: center;
  flex-direction: column;
  flex: 1 1 33.33333333%;
  justify-content: space-between;
}

footer > div:nth-child(2) div p {
  color: white;
  font-weight: bold;
  margin-bottom: 2vh;
  text-align: center;
  text-transform: uppercase;
}

footer > div:nth-child(2) div p:nth-child(1) {
  align-items: center;
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  height: 100px;
  justify-content: center;
  width: 100px;
}

footer > div:nth-child(2) div p a {
  color: rgba(255, 255, 255, 0.38);
}

footer > div:nth-child(3) p {
  color: rgba(255, 255, 255, 0.38);
  font-size: x-small;
  font-weight: bold;
  margin-bottom: 4vh;
}

footer > div:nth-child(2) div p:nth-child(3),
footer > div:nth-child(2) div p:nth-child(4) {
  color: rgba(255, 255, 255, 0.38);
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 1279px) {
  body {
    font-size: small;
  }
}

@media only screen and (max-width: 1023px) {
  header nav {
    flex-wrap: wrap;
  }

  #navbar div,
  #navbar ul {
    flex-basis: 100%;
  }

  #navbar div {
    justify-content: center;
    margin-bottom: 10px;
  }

  header nav div img,
  footer > div:first-child img {
    margin-left: 0px;
    width: 40px;
  }

  header nav div p,
  footer > div:first-child p {
    padding-left: 10px;
  }

  section:not(:last-of-type) {
    margin-bottom: 0;
  }

  section#projects h2,
  section#about h2 {
    margin-top: 110px;
  }

  section#projects article,
  section#about article {
    margin-top: 10vh;
  }

  section#projects article div:last-child,
  section#about article div:first-child {
    flex-basis: 100%;
  }

  section#projects article div:first-child,
  section#about article div:last-child {
    flex-basis: 100%;
  }

  section#projects article div:last-child h3,
  section#about article div:last-child h3 {
    margin-bottom: 5vh;
    margin-top: 5vh;
  }

  section#projects article div:last-child p,
  section#about article div:last-child p {
    padding-left: 0;
    text-align: justify;
    text-indent: 1rem;
    /*
      word-wrap: break-word;
      word-break: break-all;
    */
  }

  .project-tile.right div:last-child p {
    padding-left: 0;
    padding-right: 0;
  }

  footer > div:nth-child(2) {
    flex-wrap: wrap;
  }

  footer > div:nth-child(2) div {
    flex-basis: 100%;
  }

  footer > div:nth-child(2) div:not(:first-child) {
    margin-top: 30px;
  }

  footer > div:nth-child(1) {
    margin-top: 110px;
  }

  footer > div:nth-child(2) div p:nth-child(1) {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  header > div h1 {
    font-size: 2.5rem;
  }

  section#projects h2,
  section#about h2 {
    font-size: 2rem;
  }

  section#projects article div:last-child h3,
  section#about article div:last-child h3 {
    font-size: 1.5rem;
  }

  section#projects article div:last-child h3,
  section#about article div:last-child h3 {
    font-size: 2rem;
  }

  footer > div:nth-child(2) div p:nth-child(1) {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  section#projects article,
  section#about article {
    margin-top: 5vh;
  }

  section#projects article div:last-child h3,
  section#about article div:last-child h3 {
    margin-bottom: 1vh;
  }

  footer > div:nth-child(2) div p:nth-child(1) {
    height: 65px;
    width: 65px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  section#projects article,
  section#about article {
    margin-top: 10vh;
  }

  section#projects article div:last-child h3,
  section#about article div:last-child h3 {
    margin-bottom: 2vh;
  }

  footer > div:nth-child(2) div p:nth-child(1) {
    height: 80px;
    width: 80px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  section#projects article,
  section#about article {
    margin-top: 10vh;
  }

  section#projects article div:last-child h3,
  section#about article div:last-child h3 {
    margin-bottom: 2vh;
  }
}
